{% extends 'base.html' %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h4 href="" class="card-title">{{product.name}}</h4>
      <p>{{product.description}}</p>
      <p>{{product.price}} $</p>
    </div>
</div>
<form action="{% url 'orders:add_cart' product.id %}" method="post">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Add to cart">
</form>
{% endblock %}