{% extends 'base.html' %}
{% block content %}
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">quantity</th>
        <th scope="col">Unit price</th>
        <th scope="col">Total price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for cart in carts %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{cart.product_name}}</td>
        <td>{{cart.quantity}}</td>
        <td>{{cart.price}}</td>
        <td>{{cart.total_price}}</td>
        <td><a href="{% url 'orders:remove_cart' cart.product_name.id %}">remove</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="5">
          Total price
        </td>
        <td >
          {{carts.total_price}}
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}